# Maven build output
**/target/
!backend/target/*.jar
frontend/
!frontend/pom.xml

# IDE-specific files
**/.idea/
**/.vscode/
**/*.iml
**/*.ipr
**/*.iws

# OS-specific files
.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# Documentation
docs/
README.md

# Logs
**/*.log

# Environment files
**/.env
**/.env.local
**/*.env

# Docker files
**/Dockerfile
docker-compose.prod.yml
.dockerignore
